body {
    margin: 50px;
    background-color: #440030;
    color: white;
}
h1 ,h2 {
    text-align: center;
}
div.imgs{
    text-align: center;
}
img {
    border-radius: 8px;
    
}
.negro{
    padding: 8px 15px;
    margin: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #440030;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

button {
    font-size: 30px;
    border-radius: 25px;
}